# Ignore bundler config.
/.bundle
.ruby-gemset
/vendor/bundle
/vendor/ruby

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/log/*.gz
/tmp

# Ignore config files.
/config/*.yml

# Ignore generated assets.
/public/assets

# Ignore page caching artifacts
/public/cache
