<%# <script type="text/x-handlebars" data-template-name="application"> %>
<%# <div class="container"> %>
<%#   <%= render 'shared/header' %1> %>
<%#   {{ outlet }} %>
<%#   <%= render 'shared/footer' %1> %>
<%# </div> %>
<%# </script> %>
<%# <script type="text/x-handlebars" data-template-name="tasks"> %>
<%# <div class="row"> %>
<%#   <div class="large-4 columns"> %>
<%#     <h3>List of Tasks:</h3> %>
<%#     <hr> %>
<%#     <span class="label alert"> Delayed </span> %>
<%#     <div class="panel"> %>
<%#     {{#each task in completedTasks}} %>
<%#       {{#linkTo 'task' task}} <p>{{task.name}}</p> {{/linkTo}} %>
<%#     {{/each}} %>
<%#     </div> %>

<%#     <span class="label success"> In Progress </span> %>
<%#     <div class="panel"> %>
<%#     {{#each task in activeTasks}} %>
<%#       {{#linkTo 'task' task}} <p>{{task.name}}</p> {{/linkTo}} %>
<%#     {{/each}} %>
<%#     </div> %>

<%#     <span class="label"> Coming Soon </span> %>
<%#     <div class="panel"> %>
<%#     {{#each task in comingTasks}} %>
<%#       {{#linkTo 'task' task}} <p>{{task.name}}</p> {{/linkTo}} %>
<%#     {{/each}} %>
<%#     </div> %>
<%#   </div> %>
<%#   <div class="large-8 columns"> %>
<%#     {{ outlet }} %>
<%#   </div> %>
<%# </div> %>
<%# </script> %>

<%# <script type="text/x-handlebars" data-template-name="task"> %>
<%#   <h3>{{ name }}</h3> %>
<%#   <hr> %>
<%#   <p>{{ task_details }}</p> %>
<%# </script> %>
