<!-- Footer -->
<footer>
  <hr>
  <div class="row">
    <div class="footer-copyrights">
      <p>&copy; aranair. built using emberjs, foundation 5, pikaday </p>
    </div>
  </div>
</footer>
<!-- End Footer -->
