<!-- Footer -->
  <footer>
  <hr>
        <div class="row">
          <div class="">
              <p>&copy; Copyright 2013 aranair</p>
          </div>
        </div>
  </footer>
<!-- End Footer -->
