<script type="text/x-handlebars" data-template-name="_statistics">
  <div class="statistics">
    <p>
    Active: {{activeTasks.length}}
    </p>
    <p>
    Completed: {{completedTasks.length}}
    </p>
  </div>
</script>
