<script type="text/x-handlebars" id="task/edit">
  <div class="task-edit">
    <div class="row">
      <h3> Task Details </h3>
      <div class="large-12 columns">
        {{view Ember.TextField valueBinding='name'}}
      </div>
      <div class="large-4 columns"> 
        {{view App.DateField valueBinding='start_date' classNames="gtask-edit-startdate"}} 
      </div>
      <div class="large-1 columns"><p>&rarr;</p></div>
      <div class="large-4 columns end"> {{view App.DateField valueBinding='end_date' classNames="gtask-edit-enddate"}} </div>
      <div class="large-3 columns">
        {{view Ember.Select 
            contentBinding="all_task_status"
            valueBinding="model.task_status"
            optionLabelPath="content.label"
            optionValuePath="content.id"
        }}
      </div>
      <div class="large-12 columns">{{view Ember.TextArea valueBinding='task_details' classNames="task-edit-task_details"}}</div>
      <div class="large-5 columns">
        <button class="flat_btn small" {{action "cancelEdit"}}>Cancel</button>
        <button class='flat_btn turquoise small' {{action 'doneEditing'}}>Save Task</button>
      </div>
      <div class="large-3 large-offset-4 columns">
        <a href="#" {{action "removeTask"}}>Delete Task</a>
      </div>
    </div>
    <div class="row">
      <h3> Subtasks </h3>
      <div class="large-10 large-offset-1 columns">
      {{#each subtask in subtasks}}
      <div class="row subtask_panel">
        <div class="large-12 columns">{{view Ember.TextField valueBinding='subtask.name'}}</div>
        <div class="large-12 columns">{{view Ember.TextField valueBinding='subtask.task_details'}}</div>
        <div class="large-12 columns">
          <label> Completed? {{view Ember.Checkbox checkedBinding="subtask.task_status"}} </label>
        </div>
      </div>
      </br>
      {{/each}}
      </div>
    </div>
  </div>
</script>
