<script type="text/x-handlebars" data-template-name="_tasklist-accordion">
  <h3 class='tasklist-accordion-header'>Task List <span class='new-task'>{{#link-to 'tasks.new'}} newtask {{/link-to}}</span></h3>
  <div class="tasklist-accordion" data-section="accordion">
    <section>
      <a href="#" data-section-title> 
        <div class="active tasklist-category-header"> In Progress - {{activeTasks.length}} </div> 
      </a>
      <div class="tasklist_panel" data-slug="accordion-activeTasks" data-section-content>
        <ul class="no-bullet"> 
          {{#each task in activeTasks}}
            {{#if task.isDelayed}}
              <li class="tasklist_panel--task-delayed">{{#link-to 'task' task}} {{task.shortName}} {{/link-to}}</li>
            {{else}}
              <li>{{#link-to 'task' task}} {{task.shortName}} {{/link-to}}</li>
            {{/if}}
              
          {{/each}}
        </ul>
      </div>
    </section>
    <section>
      <a href="#" data-section-title> 
        <div class="upcoming tasklist-category-header"> Upcoming - {{upcomingTasks.length}}</div> 
      </a>
      <div class="tasklist_panel" data-slug="accordion-upcomingTasks" data-section-content>
        <ul class="no-bullet"> 
          {{#each task in upcomingTasks}}
              <li>{{#link-to 'task' task}} {{task.shortName}} {{/link-to}}</li>      
          {{/each}}
        </ul>
      </div>
    </section>
  </div>
</script>
