<script type="text/x-handlebars" data-template-name="application">
  <%= render 'shared/header' %>
  {{ outlet }}
  <%= render 'shared/footer' %>
</script>

<script type="text/x-handlebars" data-template-name="tasks/index">
  <div class="row">
    <div class="tasks-instructions small-12">
      <h3>Choose a task from the left or {{#link-to 'tasks.new'}} create a new one{{/link-to}}.</h3>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="tasks">
  <div class="row full-width ancestor-container">
    <div class="large-2 columns">
      {{ partial 'tasklist-accordion' }}
    </div>
    <div class="large-6 columns">
      {{ outlet }}
    </div>
    <div class="large-3 columns end">
      <h3>Statistics</h3>
    </div>
  </div>
</script>

<%= render 'tasklist_accordion' %>
<%= render 'taskedit' %>

<script type="text/x-handlebars" data-template-name="task">
    <div class="task-details">
      <h3>{{name}}</h3>
      <p>{{start_date}} &rarr; {{end_date}}</p>
      {{#if task_completed}}
      <p class="task_complete_text">Task Completed</p>
      {{else}}
      <p class="task_incomplete_text">Task Incomplete</p>
      {{/if}}

      <p>{{task_details}}</p>
      <h3> Subtasks </h3>
      <p>
        <ol class="subtask_list">
          {{#each subtask in subtasks}}
            <li>{{subtask.name}} - {{subtask.task_details}}</li>
          {{/each}}
        </ol>
      </p>
    </div>
    <button class='flat_btn small' {{action 'edit'}}>Edit Task</button>
  {{outlet}}
</script>
